@import "./base.css";


@font-face {
    font-family: "Rodin-Medium";
    src: url("../assets/fonts/RodinPro-M.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Rodin";
    src: url("../assets/fonts/RodinPro-DB.woff2") format("woff2");
    font-style: normal;
    font-display: block;
}
